body {
  background-color: white;
}

.flex-container {
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.43);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: 241px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: block;
}

div.col1 {
  width: 10%;
}
div.col2 {
  width: 15%;

  span {
    display: block;
  }
}

div.col3 {
  width: 63%;
  justify-content: flex-end;
}

div.col4 {
  width: 7%;
  justify-content: flex-end;
}

.col1,
.col2,
.col3,
.col4 {
  display: flex;
}

.row {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row.footer {
  flex-direction: column;
}

.icons {
  width: 28%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.follow {
  border-radius: 35%;
  border: 1px solid skyblue;
  padding: 8px;
}

.TweetTextSize {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

p.translation {
  visibility: hidden;
}

p.translation.fadeIn {
  visibility: visible;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.js-display-url {
  color: lightskyblue;
  cursor: pointer;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
}
